<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Creá tu cuenta', 
    css: ['/css/register.css']}) %>

<body>
    <!--Barra de navagacion -->
    <%- include('../partials/navbar') %> 


    <!-- Cuerpo de la pagina -->

    <main>
        <section class='contenedor-formulario'>
            <video playsinline autoplay muted loop poster="./images/poster.jpg" id="bgvid">
                <source src="./images/Typing.mp4" type="video/webm">
                <source src="./images/Typing.mp4" type="video/mp4">
              </video>
            <h2 class='h-register'>Modificar mis datos</h2>
            <figure>
               <img class='linea' src="../../images/line-black.png">
            </figure>
            <form method='POST' action='/usuario/register' enctype='multipart/form-data' class = 'contenedor-formulario-1'>
                <div class='contenedor-input-register'>
                    <input required class='text-input-register' type='text' id='nombreUsuario' placeholder="Nombre" name='nombreUsuario'  value='<%=locals.oldData? oldData.nombreUsuario : null %>'>
                    <% if(locals.errors && errors.name) { %> 
                        <p style='color:red' class="feedback"><%= errors.name.msg %>  </p>
                    <% } %>
                </div>
                <div class='contenedor-input-register'>
                    <input required class='text-input-register' type='text' id='apellidoUsuario' placeholder="Apellido" name='apellidoUsuario'minlength="3" value='<%=locals.oldData? oldData.apellidoUsuario : null %>'>
                    <% if(locals.errors && errors.last_name) { %> 
                        <p style='color:red' class="feedback"><%= errors.last_name.msg %>  </p>
                    <% } %>
                </div>
                <div class='contenedor-input-register'>
                    <input required class='text-input-register' type='email' id='email' placeholder="Email" name='email' value='<%=locals.oldData? oldData.email : null %>'>
                    <% if(locals.errors && errors.email) { %> 
                        <p style='color:red' class="feedback"><%= errors.email.msg %>  </p>
                    <% } %>
                </div>
                <div class='contenedor-input-register'>
                    <input required class='text-input-register' type='password' id='password' placeholder="Contraseña" name='password'>
                    <% if(locals.errors && errors.password) { %> 
                        <p style='color:red' class="feedback"><%= errors.password.msg %>  </p>
                    <% } %>
                </div>
                <div class='contenedor-input-register'>
                    <label class='label'>Elige tu foto de perfil</label>
                    <input type="file" id="avatar" name="avatar" class="form-input" style="
                    margin-top: 10px;" required>
                </div>
               
                 <button type='submit' id='boton-enviar-register'>Enviar</button>
                </div>
            </form>
          
        </section>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>