<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Ingresá a tu cuenta', 
    css: ['/css/login.css'],
    js: ["/js/login.js"]


}) %>
<script src='../../js/userLoginValidation.js'></script>
<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %>


    <!-- Cuerpo de la pagina -->
    <main>
        <section class='contenedor-formulario'>
            <h2 class='h-login'>Ingresá a tu cuenta</h2>
            <figure>
               <img class='linea' src="../../images/line-black.png">
            </figure>
            <video playsinline autoplay muted loop poster="../../images/poster.jpg" id="bgvid">
                <source src="../../images/Typing.mp4" type="video/webm">
                <source src="../../images/Typing.mp4" type="video/mp4">
              </video>
            <form action='/usuario/login' method='POST' id="loginForm" class = 'contenedor-formulario-1'>
                <div>
                    <ul class='errores'>

                    </ul>
                </div>
                <div class='contenedor-input-login'>
                    <input class='text-input-login-email' type='email' id='emailInput' placeholder="Email" name='email' value='<%=locals.oldData? oldData.email : null %>' >
                    <% if(locals.errors && errors.email) { %> 
                        <p class="errors_2"><%= errors.email.msg %>  </p>
                    <% } %> 
                </div>
                <div class='contenedor-input-login'>
                    <input class='text-input-login-pass' type='password' id='password' placeholder="Contraseña" name='password' >
                    <% if(locals.errors && errors.password) { %> 
                        <p class="errors_2"><%= errors.password.msg %>  </p>
                    <% } %>
                </div>
                <div class='contenedor-mantener-sesion'>
                    <label class='mantener-sesion'>
                        <input id='text-sesion' type='checkbox' name='mantenerSesion'>Mantener sesión iniciada</input>
                    </label>
                </div>
                <div class='contenedor-button'>
                 <button type='submit' value='login' id='boton-enviar-login'>Enviar</button>
                </div>
            </form>
            <section>
                <a class='text-inciarsesion' href='/usuario/register'>Crear cuenta</a>
            </section>
            <section>
                <a class='text-inciarsesion' href='#'>¿Olvidaste tu contraseña?</a>
            </section>
            <section>
                <a class='text-inciarsesion' id='last' href='/'>Regresar a la tienda</a>
            </section>
        </section>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>