<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Perfil de usuario', 
    css: ['/css/perfil.css']}) %>
<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %>


    <!-- Cuerpo de la pagina -->
    <main>
        <section class='main-section'>
            <figure  class="imagen">
                <img id='avatar-perfil' src="/images/avatars/<%=locals.userLogged.avatar %>" alt="avatar">
            </figure>
            <h1 style="
            color: black;
        " >Hola <%= locals.userLogged.name %></h1>
            
        </section>
        <section class='section-info'>
            <h2>Información personal</h2>
            <section class='section-specific'>
                <h3>Nombre</h3>
                <p><%=locals.userLogged.name %></p>
            </section>
            <section class='section-specific'>
                <h3>Apellido</h3>
                <p><%=locals.userLogged.last_name %></p>
            </section>
            <section class='section-specific'>
                <h3>Email</h3>
                <p><%=locals.userLogged.email %></p>
            </section>
        </section> 
        <section class='boton-editar'>
            <a class='a-edit' href='/usuarios/perfil/editar'>Editar perfil</a>
            <a class='a-edit' href="/usuario/logout"><p id='cerrar'>Cerrar sesión</p></a>
        </section>
        
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>