<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Creá tu cuenta', 
    css: ['/css/register.css']}) %>
<script src='../../js/userRegisterValidation.js'></script>
<body>
    <!--Barra de navagacion -->
    <%- include('../partials/navbar') %> 


    <!-- Cuerpo de la pagina -->

    <main>
        <section class='contenedor-formulario'>
            <video playsinline autoplay muted loop poster="../../images/poster.jpg" id="bgvid">
                <source src="../../images/Typing.mp4" type="video/webm">
                <source src="../../images/Typing.mp4" type="video/mp4">
              </video>
            <h2 class='h-register'>Creá tu cuenta</h2>
            <figure>
               <img class='linea' src="../../images/line-black.png">
            </figure>
            <form method='POST' action='/usuario/register' enctype='multipart/form-data' class = 'contenedor-formulario-1'>
                <div>
                    <ul class='errores'>

                    </ul>
                </div>
                <div class='contenedor-input-register'>
                    <input  class='text-input-register-name' type='text' id='name' placeholder="Nombre" name='name'  value='<%=locals.oldData? oldData.name : null %>'>
                    <% if(locals.errors && errors.name) { %> 
                        <p  class="feedback"><%= errors.name.msg %>  </p>
                    <% } %>
                </div>
                <div class='contenedor-input-register'>
                    <input  class='text-input-register-last-name' type='text' id='last_name' placeholder="Apellido" name='last_name' value='<%=locals.oldData? oldData.last_name : null %>'>
                    <% if(locals.errors && errors.last_name) { %> 
                        <p class="feedback"><%= errors.last_name.msg %>  </p>
                    <% } %>
                </div>
                <div class='contenedor-input-register'>
                    <input  class='text-input-register-email' type='email' id='email' placeholder="Email" name='email' value='<%=locals.oldData? oldData.email : null %>'>
                    <% if(locals.errors && errors.email) { %> 
                        <p class="feedback"><%= errors.email.msg %>  </p>
                    <% } %>
                </div>
                <div class='contenedor-input-register'>
                    <input  class='text-input-register-password' type='password' id='password' placeholder="Contraseña" name='password'>
                    <% if(locals.errors && errors.password) { %> 
                        <p  class="feedback"><%= errors.password.msg %>  </p>
                    <% } %>
                </div>
                <div class='contenedor-input-register'>
                    <label class='label'>Elige tu foto de perfil</label>
                    <input required type="file" id="avatar" name="avatar" class="form-input" style="
                    margin-top: 10px;">
                </div>
                <div class='contenedor-button'>
                    <button type='reset' id='boton-reset-register'><a class='texto-enviar' id='boton-reset' href="/">Borrar</a></button>
                   </div>
                <div class='contenedor-button'>
                 <button type='submit' id='boton-enviar-register'>Enviar</button>
                </div>
            </form>
            <section>
                <a class='text-inciarsesion' id='last' href='/usuario/login'>¿Ya tenés una cuenta? Iniciá sesión</a>
            </section>
        </section>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>