<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head', 
{title: `Producto: ${detalleProducto.name.toLowerCase()} `, 
css: ['/css/productDetails.css']}) %>

<body>

    <%- include('../partials/navbar') %> 

    <!-- vista principal del producto con immagenes y detalles especificos -->
    <section class="productDetailsContainer">

        <!-- seccion con titulo y precio -->
        <section class="mainDescriptionContainer">

            <h1 class="descriptionTitle"><%=detalleProducto.name%></h1>

            <p class="descriptionText"><%=detalleProducto.shortDescription%></p>
            <div class="reviewContainer">
                <i class="fas fa-star"></i>

                <i class="fas fa-star"></i>

                <i class="fas fa-star"></i>

                <i class="fas fa-star"></i>

                <i class="fas fa-star"></i>

                <p class="reviewsText">
                    200 reviews
                </p>
            </div>

            <div class="onlyDesktop">

                <div class="precioContainer">
                    <p>Precio:</p>
                    <p class="precio"><%= detalleProducto.price%></p>

                </div>
                <div class="cantidadContainer">
                    <button class="masButton"><i class="fas fa-plus"></i></button>
                    <p class="cantidad">1</p>
                    <button class="menosBotton"><i class="fas fa-minus"></i></button>

                </div>
                <div class='container-bottons'>
                <button class="editarProducto">
                    <a href='/productos/editar/<%= detalleProducto.id%>'>
                    <i class="fas fa-edit"></i>
                    Editar Producto
                </a>
                </button>
                <form action="/productos/borrar/<%= detalleProducto.id%>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class="delete-button">
                        <i class="fas fa-trash-alt"></i>
                        Eliminar Producto
                    </button>
                </form>
                <button class="agregarAlCarritoBoton">
                    <i class="fas fa-cart-plus"></i>
                    Agregar Al Carrito
                </button>
            </div>
            </div>
            </div>

        </section>
        <section>


        </section>
        <figure class="mainImage">
            <img src="/images/products/<%= detalleProducto.image1%>" alt="base para laptop">
        </figure>


        <div class="onlyMovile">
            <div class="precioContainer">
                <p>Precio:</p>
                <p class="precio"><%= detalleProducto.price%></p>

            </div>
            <div class="cantidadContainer">
                <button class="masButton"><i class="fas fa-plus"></i></button>
                <p class="cantidad">1</p>
                <button class="menosBotton"><i class="fas fa-minus"></i></button>
            </div>
            <button class="editarProducto">
                <i class="fas fa-edit"></i>
                Editar Producto
            </button>
            <form action="/products/delete/:id?_method=DELETE" method="POST" style="display: inline-flex">
                
                <button type="submit" class="delete-button">
                    <i class="fas fa-trash-alt"></i>
                    Eliminar Producto
                </button>
            </form>
            <button class="agregarAlCarritoBoton">
                <i class="fas fa-cart-plus"></i>
                Agregar Al Carrito
            </button>
        </div>


        <!-- lista de beneficios de ser cliente -->

        <section class="beneficiosOfrecidos">
            <ul class="listaBeneficios">
                <li><i class="fas fa-check-circle"></i>
                    <%= detalleProducto.characteristic1%>
                </li>
                <li><i class="fas fa-check-circle"></i>
                    <%= detalleProducto.characteristic2%>
                </li>
                <li><i class="fas fa-check-circle"></i>
                    <%= detalleProducto.characteristic3%>
                </li>
                <li><i class="fas fa-check-circle"></i>
                    <%= detalleProducto.characteristic4%>
                </li>
            </ul>
            <div class="enviosGratisContainer"><i class="fas fa-truck"></i>
                <p>¡Envíos gratis a cualquier parte del mundo!</p>
            </div>
        </section>

        <!-- mas fotos y detalles del producto -->

        <section class="detallesAvanzados">
            <div class="descripcionContainer">
                <figure  class="imagen">
                    <img id='imagen-descripcion' src="/images/products/<%= detalleProducto.image2%>" alt="stand para notebook">
                </figure>
                <div class="descripcion">
                    <h1><%= detalleProducto.titleDescription1%></h1>
                    <p><%= detalleProducto.description1%></p>
                </div>
            </div>
            <div class="descripcionContainer inverso">
                <figure  class="imagen">
                    <img id='imagen-descripcion' src="/images/products/<%= detalleProducto.image3%>" alt="notebook">
                </figure>
                <div class="descripcion">
                    <h1><%= detalleProducto.titleDescription2%></h1>
                    <p><%= detalleProducto.description2%></p>
                </div>
            </div>
            <div id='ultimo-container' class="descripcionContainer">
                <figure  class="imagen 5">
                    <img id='imagen-descripcion' src="/images/products/<%= detalleProducto.image4%>" alt="notebook">
                </figure>
                <div class="descripcion">
                    <h1><%= detalleProducto.titleDescription3%></h1>
                    <p><%= detalleProducto.description3%></p>
                </div>
            </div>
        </section>
    </section>
    <section class="contenedor-home3">
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id='icon-home3' class="fas fa-brain"></i>
            </figure>
            <h3 class='titulo-home3'>
                Diseñado por expertos
            </h3>
            <p class='p-home3'>
                Priorizando el confort y la productividad.
            </p>
        </article>
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id='icon-home3' class="fas fa-cogs"></i>
            </figure>
            <h3 class='titulo-home3'>
                Hecho a tu medida
            </h3>
            <p class='p-home3'>
                Cada producto es 100% personalizable para que se ajuste perfectamente a tus necesidades.
            </p>
        </article>
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id='icon-home3' class="fas fa-luggage-cart"></i>
            </figure>
            <h3 class='titulo-home3'>
                100% transportable
            </h3>
            <p class='p-home3'>
                Para que puedas llevar tu oficina a donde más te guste.
            </p>
        </article>
    </section>

    <%- include('../partials/footer') %> 

</body>

</html>