<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head', 
{title: 'Carrito', 
css: ['/css/productCart.css', '/css/home.css']}) %>

<body>

    <!--Barra de navagacion -->

    <%- include('../partials/navbar') %>


    <!-- Cuerpo de la pagina -->
    <main>

        <form method="POST" action="/carrito/compra"">
        <section class='contenedor-main-carrito'>

            <section class='titulo-carrito'>
                <h2 class='h-login'>Tu Carrito</h2>
                <figure class='contenedor-linea-carrito'>
                    <img class='linea-carrito' src="../../images/line-black.png"> </figure> </section> <section
            class='contenedor-general'>
            <% if( !locals.productos ){%> 
            
                        <div id='carrito-vacio' class="carrito-vacio">
                            <h1>Tu carrito esta vacio</h1>
                        </div>
                    
                            <a class='text-regresar' id='last' href='/'>Regresar a la tienda</a>
                   



<% }else{ %> 

            <% for (let i=0; i<productos.length; i++){ %>
            <article class='contenedor-producto-carrito'>
                <section class='carrito-seccion-1'>
                    <figure class='contenedor-imagen-producto-carrito'>
                        <img id='imagen-producto-carrito' src="/images/products/<%=productos[i].product.image_1%>" alt="pro click mouse">
                    </figure>
                </section>
                <section class='carrito-seccion-2'>
                    <h2><%=productos[i].product.name%></h2>
                    <section class="cantidadContainer">
                        
                        <p class="cantidad">Cantidad: <%= productos[i].quantity%></p>
                        
                    </section>
                </section>
                <section class='carrito-seccion-3'>
                    <h2 class='precio-carrito'>
                        $<%= productos[i].product.price %> c/u
                    </h2>
                </section>
            </article>
            <% } %>
        </section>
        <section class='contenedor-ultimo-carrito'>
        <section></section>
        <section>
            <section class='contenedor-subtotal'>
                <h2 class='subtotal'>
                    SUBTOTAL $<%= total  %>
                </h2>

            </section>
            <section class='impuestos-carrito'>
                <p> Impuestos y envíos calculados en el checkout</p>
            </section>
            <!-- <section class='contenedor-boton-actualizar'>
                <button class="actualizar-boton">
                    Actualizar Carrito
                </button>
            </section> -->
            <section class='contenedor-boton-comprar'>
                <button class="comprarBoton" href="carrito/checkout">
                    <i class="fas fa-lock" style="
                margin: 0px 9px"></i>
                    COMFIRMAR COMPRA
                </button>

            </section>
            <section class='terminos-condiciones-carrito'>
                <p> Al hacer click, estás aceptando los <a href='#'>Terminos y Condiciones.</a></p>
            </section>
            </section>
            </section>
            <%}%>
        </form>
    </main>
    <!--Email Opt In -->
    <%- include('../partials/footer') %>

</body>

</html>