<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    {title: 'Edit치 tu producto', 
    css: ['/css/products.css']}) %>
<body>
    <!-- Cuerpo de la pagina -->
    <%- include('../partials/navbar') %> 
    <!-- home 1 -->

    <!-- Listado productos -->
    <section class='contenedor-title'>
        <h2 class='h-products'>Nuestros</h2>
        <h2 class='h-products' id='bottom-title'>PRODUCTOS</h2>
        <figure>
           <img class='linea' src="/images/line.png">
        </figure>
    </section>
    <section class = 'contenedor-general'>
    <% for (let i=0; i<productos.length; i++){ %>
    <section class="home2">
        <div class="home2-wrap">
            <div id='contendedor-home2-1' class="home2-content1">
                <h2><%=productos[i].name%></h2>
                <p><%=productos[i].shortDescription%></p>

                <div class="botones-hom2">
                    <a class="contenido-boton-home2" href="/productos/detalle/<%=productos[i].id%>">Leer m치s<i id='flecha-home2' class="fas fa-chevron-right" aria-hidden="true"></i></a>
                    <a class="contenido-boton-home2" href="#">Comprar<i id='flecha-home2' class="fas fa-chevron-right" aria-hidden="true"></i></a>
                </div>
                <figure>
                    <img src="/images/products/<%=productos[i].image1%>">
                </figure>
            </div>
        </div>
    </section>
    <% } %>
    </section>

    <!-- Home 3 -->
    <section class="contenedor-home3">
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id= 'icon-home3' class="fas fa-brain"></i>
            </figure>
            <h3 class='titulo-home3'>
                Dise침ado por expertos
            </h3>
            <p class='p-home3'>
                Priorizando  el confort y la productividad.
            </p>
        </article>
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id= 'icon-home3' class="fas fa-cogs"></i>
            </figure>
            <h3 class='titulo-home3'>
                Hecho a tu medida
            </h3>
            <p class='p-home3'>
                Cada producto es 100% personalizable para que se ajuste perfectamente a tus necesidades.
            </p>
        </article>
        <article class='contenedor-seccion-home3'>
            <figure class='contenedorIcon-home3'>
                <i id= 'icon-home3' class="fas fa-luggage-cart"></i>
            </figure>
            <h3 class='titulo-home3'>
                100% transportable
            </h3>
            <p class='p-home3'>
                Para que puedas llevar tu oficina a donde m치s te guste.
            </p>
        </article>
    </section>

    <%- include('../partials/footer') %> 

</body>

</html>